.md-grid {
    max-width: 90%;
}

.md-sidebar--secondary {
    display:none !important;
}

.md-search {
    display: none;
}

.jp-Notebook {
    padding: 0 !important;
}

.jp-InputPrompt {
    display: none !important;
}
