#template-title {
    font-size: 200%;
    margin-bottom: 20px;
}

/* Tabs */
.tab-button {
    padding: 20px;
}

.tab-button-not-selected {
    cursor: pointer;
    color: #888888;
    background-color: #e9e9e9;
}

.tab-button-not-selected:hover {
    color: #555555;
    background-color: #f0f0f0;
}

.tab-button-not-selected:active {
    color: #000000;
    background-color: #f7f7f7;
}

.tab-button-selected {
    color: #000000;
    background-color: #f7f7f7;
}

#template-notebook {
    display: none;
}

/* Template info */
#template-info {
    border-top: 1px solid #eeeeee;
}

/* Usage */
#template-usage {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}