#template-title {
    font-size: 200%;
    margin-bottom: 20px;
}

/* Metadata */
#template-metadata {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #f7f7f7;
}

.md-cell {
    padding: 6px;
}

.md-cell-title {
    font-weight: bold;
}

#md-description {
    font-size: 80%;
}

.md-label {
    padding: 4px 6px 4px 6px;
    margin: 4px;
    font-size: 80%;
    background-color: #e9e9e9;
    border-radius: 8px;
}

/* Tabs */
.tab-button {
    padding: 20px;
}

.tab-button-not-selected {
    cursor: pointer;
    color: #888888;
    background-color: #e9e9e9;
}

.tab-button-not-selected:hover {
    color: #555555;
    background-color: #f0f0f0;
}

.tab-button-not-selected:active {
    color: #000000;
    background-color: #f7f7f7;
}

.tab-button-selected {
    color: #000000;
    background-color: #f7f7f7;
}

#template-notebook {
    display: none;
}

/* Template info */
#template-info {
    border-top: 1px solid #eeeeee;
}

/* Usage */
#template-usage {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}