#template-metadata {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #f7f7f7;
}

#template-metadata-right {
    float: right;
    text-align: right;
}

#template-metadata-left {
    width: 85%;
}

.md-cell {
    padding: 6px;
}

.md-cell-right {
    padding: 14px 0px 0px 36px;
}

.md-cell-title {
    font-weight: bold;
}

#md-description {
    font-size: 80%;
}

.md-label {
    padding: 4px 6px 4px 6px;
    margin: 4px;
    font-size: 80%;
    background-color: #e9e9e9;
    border-radius: 8px;
}

/* Button to copy reference */

#hub-ref {
    display: inline;
}

.hub-ref-button {
    padding: 8px 16px;
    color: var(--md-primary-bg-color);
    background-color: var(--md-typeset-a-color);
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.hub-ref-button-clicked {
    box-shadow: none;
    border-radius: 0.5em 0.5em 0em 0em;
    background-color: var(--md-primary-fg-color--light);
}

#hub-ref-link {
    display: none;
    left: 1px;
    padding: 4px 8px 4px 8px;
    border: 0;
    border-radius: 8px 0px 8px 8px;
    background-color: #e9e9e9;
}

#hub-ref-icon {
    font-size: 80%;
}

#hub-ref-link-button {
    margin-left: 10px;
    padding: 4px 8px;
    color: #606060;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

#hub-ref-link-button:hover {
    background-color: #f0f0f0;
}

#hub-ref-link-button:active {
    background-color: #f7f7f7;;
}