.md-grid {
    max-width: 80%;
}

.md-sidebar--secondary {
    display:none !important;
}

.md-search {
    display: none;
}

.md-sidebar {
	display: none;
}

.jp-Notebook {
    padding: 0 !important;
}

.jp-InputPrompt {
    display: none !important;
}

.md-footer {
    display: none;
}
